<div class="container">

    <div class="d-flex justify-content-between mb-3">
        <h1 class="fontclr fontFam">Admin Homepage</h1>
        <form action="/admin/adminLogout" method="post" class="">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>

    <form action="/admin/adminSearch" method="post" class="d-flex mb-3">
        <div>
            <button type="submit" class="btn btn-primary me-1">Search</button>
        </div>
        <div class="flex-grow-1 mb-3">
            <div>
                <input type="text" name="input" class="form-control" placeholder="Search with name or user name"
                    id="searchInput">
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-end">
        <a href="/admin/addNewUser" class="btn btn-success mb-3 ">Add new user</a>
    </div>
    <div class="d-flex mb-3">
        <table class=" table">
            <thead>
                <tr class="fontclr">
                    <th scope="col" >Sl.</th>
                    <th scope="col" >Name</th>
                    <th scope="col" >Data</th>
                    <th scope="col" >Username</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each result}}
                <tr class="fontclr">
                    <th scope="row">{{addOne @index}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.data}}</td>
                    <td>{{this.username}}</td>
                    <td>
                        <a href="/admin/edit/{{this._id}}" class="btn btn-danger"
                            onclick="return confirm('Are you sure, you want to edit details of user :{{this.username}}?')">edit</a>
                    </td>
                    <td>
                        <a href="/admin/delete/{{this._id}}" class="btn btn-danger"
                            onclick="return confirm('Are you sure, you want to delete user :{{this.username}}?')">delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>